# fly.toml app configuration file generated for ai-chat-bot-cosc448-polished-water-1450 on 2024-03-24T16:00:50-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ai-chat-bot-cosc448-polished-water-1450'
primary_region = 'sea'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[experimental]
  auto_rollback = true

[build]

[deploy]
  release_command = 'bash ./scripts/migrate.sh'

[env]
  METRICS_PORT = '8081'
  PORT = '8080'
  FLY_API_TOKEN = 'fo1_bgUgzvZ-VvZUKos3jzB-pEij4P5zJ_a933jRXnhiM-s'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  processes = ['app']

[[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

[[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '1s'

[[services.http_checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/healthcheck'
    protocol = 'http'
    tls_skip_verify = false

[[vm]]
  size = 'performance-1x'

[[metrics]]
  port = 8081
  path = '/metrics'
